
<ion-header>
    <ion-toolbar color="realgreen-invert">
            <ion-buttons  slot="start" color="light">
                    <ion-back-button></ion-back-button>
                </ion-buttons>
            <!-- <ion-searchbar color="" placeholder="Search by Location, Area , State or Pin Code" (ionFocus)="openSearchModal()" search-icon="ios-pin" ></ion-searchbar>   -->
            <ion-title color="realgreen" class="main-b-header4">Agent</ion-title>
        
    </ion-toolbar>
</ion-header>
<ion-content  no-padding>
  <div>
    <ion-list class="ion-margin-top">
        <ion-item *ngFor="let agent of agents | async" lines="none" button routerLink="/side-menu/realestate/tabs/tab4/real-agent-detail/{{agent.id}}">
          <ion-avatar slot="start">
            <img [src]="agent.image">
          </ion-avatar>
          <ion-label>
            <h2>{{agent.name}}</h2>
            <p>{{agent.company}}</p>
            <ion-icon style="font-size: 14px !important;" color="warning" *ngFor="let i of [0,1,2,3,4]" [name]="i < agent.rating ? 'star' : 'star-outline'">
            </ion-icon>
          </ion-label>
        </ion-item>
      </ion-list>
  </div>

</ion-content>
