
ion-icon {
    color: #454545;
    font-size: 30px;
 }

ion-chip{
    padding: 10px !important;
    border-radius: 4px  !important;
    height: 35px;
    margin-left: 11px;
    // color:#E8E8E8 !important;
}

.travel_header1{
    //font-family:roboto !important;
    letter-spacing: -2px !important;
    font-size: 28px !important;
    font-weight: 500 !important;
}
// .horizontal-scroll {
//     margin-left: 12px;
//     white-space: nowrap;
//     height: auto;
//     overflow-X: scroll;
//     overflow-y: auto;
  
// }








