
<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
        <ion-toolbar >
            <div class="margin-top-10">
                    <ion-item  no-padding lines="none" class="transparent margin-left-10" >
                        <ion-buttons class="margin-right-0" slot="start">
                                <ion-button class="margin-right-0" (click)="toggleSideMenu()">
                                        <ion-icon name="md-menu" color="orange" slot="start"></ion-icon>
                                </ion-button>
                        </ion-buttons>
                        <ion-label slot="start"class="">
                            <ion-text  color="orange">
                                <h1 class="travel_header1">Exp|ore City</h1>
                            </ion-text>
                        </ion-label>
               
                    </ion-item>       
            </div>
        </ion-toolbar>

        <ion-toolbar color="">
            <ion-searchbar color="" placeholder="Find the best place..." (ionFocus)="openSearchModal()" search-icon="ios-pin" ></ion-searchbar>
        </ion-toolbar>
</ion-header>

<ion-content #pageContent forceOverscroll="false" no-padding>


<!--*********** Category  ***********-->
   
    <div class="top-horizontal-scroll ion-margin-top slide-left  ">
            <ion-card tappable class="main-h-card card-s-wide " *ngFor="let category of categories " (click)="openDetail('travel-place',category.id)"  >
                    <div class="card-s-wide-bg ion-text-uppercase" [ngStyle]="{'background-image': 'url(' + category.image+ ')'}" >
                        <h2 class="card-s-wide-title"> {{category.name}}</h2>                           
                    </div>
            </ion-card>
    </div>

 <!--*********** Show by popular places  ***********-->

    <ion-item lines="none">
        <h1 class="travel_header2">Popular places</h1>
        <ion-button fill="none" slot="end" color="secondary"  routerLink="/side-menu/travel/tabs/tab1/travel-recommended" >View all</ion-button>
    </ion-item>
   
    <div class="horizontal-scroll " >
        <!--  routerLink="/side-menu/travel/tabs/tab1/travel-place-detail/{{recommended.id}}" -->
            <ion-card class="main-h-card card-tall slide-right  "  *ngFor="let recommended of recommended " (click)="openDetail('travel-place-detail',recommended.id)" >
                <div class="div-tall-bg"  [ngStyle]="{'background-image': 'url(' + recommended.image_header+ ')'}"  >
                    <!-- <h2 class="card-tall-title">  {{recommended.name}}</h2>   
                    <div class="card-tall-star">
                            <div>
                                <ion-icon style="font-size: 14px !important;" color="warning" *ngFor="let i of [0,1,2,3,4]" [name]="i < recommended.star_rating ? 'star' : 'star-outline'"
                                    (click)="selectStar(i)">
                                </ion-icon>
                            </div>
                    </div>                            -->
                </div>
                <div class="margin-top-5 main-b-header8">{{recommended.name}}</div>
                <div><p style="margin-top: 3px;">{{recommended.short_description}}</p></div>
                <div style="margin-top: -10px;">
                    <ion-icon style="font-size: 14px !important;" color="warning" *ngFor="let i of [0,1,2,3,4]" [name]="i < recommended.rating ? 'star' : 'star-outline'"
                        (click)="selectStar(i)">
                    </ion-icon>
                </div>
            </ion-card>
    </div>


    <!--*********** Top rating ***********-->
    <ion-item lines="none">
            <h1 class="margin-top-10 travel_header2">Top rating</h1>
    </ion-item>
    <div class="horizontal-scroll ion-margin-bottom drop-in" >
            <!-- routerLink="/side-menu/travel/tabs/tab1/travel-place-detail/{{place.id}}" -->
        <ion-card class="main-h-card card-square " *ngFor="let place of topRatingPlaces "  button  (click)="openPlaceDetail(place.id)">
            <div class="card-square-bg" [ngStyle]="{'background-image': 'url(' + place.image_header+ ')'}">
                <h2 class="card-square-title">  {{place.name}}</h2>                             
            </div>
        </ion-card>
    </div>


    <!-- *********** Tags ********** -->
    <ion-item lines="none" class="">
            <h1 class="travel_header2">Tag</h1>
    </ion-item>
    <div>
        <ion-chip  *ngFor="let tag of tags " [color]="tag.color" outline=false button  routerLink="/side-menu/travel/tabs/tab1/travel-tag/{{tag.id}}">
                <ion-label>{{tag.name}}</ion-label>
        </ion-chip>
    </div>
   
<div class="footer-box"></div>



</ion-content>
