ion-slides{
    height: 200px;
    width: 100%;
    margin-top: -1px !important;
    --bullet-background: #ddd;
    --bullet-background-active: #999;
    // margin-left: -1px !important;
}
.image-slide{
    max-width: 100vw !important;
    max-height: 100vh !important; 
}
ion-searchbar{
    height: 50px !important;
    padding: 0px 4px !important;
}

ion-avatar {
    background-color: #607D8B;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    min-width: 50px;
    min-height: 50px;
    
    border: 2px solid lightgray;
}
ion-avatar[item-start]{
    margin: 8px 15px 8px 0;
}

ion-label{
    padding-left: 10px;
}

 ion-icon {
    color: #999;
    font-size: 25px;
}

ion-icon.menu-icon {
    font-size: 30px;
  }

ion-icon.sidemenu{
    color: black;
    font-size: 40px; 
}

span.online-status{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 4px;
    vertical-align: middle;
}

span.online-status.online{
    background: var(--ion-color-online);
}

span.online-status.offline{
    background: var(--ion-color-offline);
}
