<ion-header>
    <ion-toolbar>
        <ion-title >Add review</ion-title>
        <ion-buttons slot="end">
            <ion-button color="medium" (click)="close()">
                <ion-icon slot="icon-only"  name="close-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>

<div *ngIf="userAuth" class="review-form ion-margin">
    <!-- <p class="ion-text-center">Give a rating: {{ rate }}</p>  -->
    <div style="margin: 20px 0px 40px;">
        <rating [(ngModel)]="rating"
                readonly="false"
                size="default" >
        </rating>
    </div>

    
    <form [formGroup]="reviewForm" novalidate>
          <ion-list lines="none" class="ion-margin-top">
            <ion-item>
                <ion-input type="text"  formControlName="name"  placeholder="Your name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-textarea formControlName="comment" rows=6 placeholder="Comment" ></ion-textarea>
            </ion-item>
          </ion-list>

          <!-- Error meassage -->
          <!-- <p color="warning" *ngIf="!registerForm.controls.firstname.valid && registerForm.controls.firstname.touched">
              <ion-icon name="information-circle-outline"></ion-icon> This field must be at least 3 characters long!
          </p>
          <p color="warning" *ngIf="!registerForm.controls.lastname.valid && registerForm.controls.lastname.touched">
              <ion-icon name="information-circle-outline"></ion-icon> This field must be at least 3 characters long!
          </p>
          <p color="warning" *ngIf="!registerForm.controls.username.valid && registerForm.controls.username.touched">
            <ion-icon name="information-circle-outline"></ion-icon> This field must be at least 3 characters long!
          </p>
          <p color="warning" *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.touched">
            <ion-icon name="information-circle-outline"></ion-icon> This field must be at least 3 characters long!
          </p> -->


          <ion-button mode="ios" color="orange" expand="block"    (click)="addReview()">
            Submit
          </ion-button>

    </form>
</div>

<div *ngIf="!userAuth" class="deny-box">
        <h2>No permission!</h2>
        <p>Please signin before review.</p>
        <ion-button mode="ios" color="orange" expand="block"  (click)="goSignin()">
                Signin
        </ion-button>
    
</div>
</ion-content>
