
<ion-header no-border [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
        <ion-toolbar color="greengrab">
                <ion-buttons slot="start">
                    <ion-button (click)="toggleSideMenu()">
                        <ion-icon class="menu-icon"  name="md-menu" color="white"  slot="start"></ion-icon>
                    </ion-button>
                </ion-buttons>
                <!-- <ion-searchbar color="" placeholder="Search.." (ionFocus)="openSearchModal()" search-icon="ios-pin" ></ion-searchbar>   -->
              <ion-title color="" class="main-b-header6">FOOOD</ion-title>
                <ion-buttons slot="end">
                    <ion-button routerLink="/food-cart" >
                        <ion-badge *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
                        <ion-icon color="light" slot="icon-only" name="ios-cart"></ion-icon>
                    </ion-button>
                </ion-buttons>
        </ion-toolbar>
    <ion-toolbar color="greengrab">
        <ion-searchbar  placeholder="Search.." (ionFocus)="openSearchModal()" search-icon="ios-search" ></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content #pageContent no-padding>



 <!--*********** Popular  ***********-->

<ion-item lines="none">
    <label>
        <h1 class="main-header4 margin-bottom-3">Popular menu</h1>
        <h1 class="food_header3 ">Most popular food menu for you each day</h1>
    </label>
    <!-- <ion-button fill="none" slot="end" color="secondary"  routerLink="/side-menu/food/tabs/tab1/food-category" >View all</ion-button> -->
</ion-item>

<div class="horizontal-scroll " >
    <!--  routerLink="/side-menu/food/tabs/tab1/food-place-detail/{{recommended.id}}" -->
        <ion-card class="food-main-h-card food-card1 slide-right "  *ngFor="let popular of populars | async "  (click)="openDetail('food-detail',popular.id)"    >
            <div class="food-card1-bg"  [ngStyle]="{'background-image': 'url(' + popular.image+ ')'}" ></div>
            <ion-card-content class="card1-padding">
                <ion-label><ion-text color="black"><h2>{{popular.name}}</h2></ion-text></ion-label>
                <ion-label><h3>{{popular.short_description}}</h3></ion-label>
                <ion-row class="margin-top-5">
                    <ion-col size="6" class="ion-text-left">
                       <ion-icon  style="font-size: 16px !important;" color="warning" *ngFor="let i of [0,1,2,3,4]" [name]="i < popular.rating  ? 'star' : 'star-outline'"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-text-right">
                            <ion-text color="black"> <h2><strong>{{popular.price | currency}}</strong></h2></ion-text>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
</div>




<!--*********** Category  ***********-->

<ion-item class="margin-bottom-10" lines="none">
    <h1 class="margin-top-3 main-header4">Category</h1>
</ion-item>
<div class="horizontal-scroll slide-left  ">
    <ion-card tappable class="food-main-h-card food-card2 " *ngFor="let category of categories | async " (click)="openDetail('side-menu/food/tabs/tab1/food-item',category.id)" >
            <div class="food-card2-bg ion-text-uppercase" [ngStyle]="{'background-image': 'url(' + category.image+ ')'}" >
                <h2 class="card2-title"> {{category.name}}</h2>                           
            </div>
    </ion-card>
</div>




<!--*********** Promotion ***********-->

<ion-item class="margin-bottom-10"  lines="none">
    <h1 class="main-header4">Promotion</h1>
</ion-item>
<div class="horizontal-scroll " >
    <!--  routerLink="/side-menu/food/tabs/tab1/food-place-detail/{{recommended.id}}" -->
        <ion-card class="food-main-h-card food-card3 slide-right "  *ngFor="let promotion of promotions | async "  (click)="openDetail('food-detail',promotion.id)"    >
            <div class="bookmarkRibbon"></div>
            <div class="food-card3-bg"  [ngStyle]="{'background-image': 'url(' + promotion.image+ ')'}" ></div>

            <ion-card-content class="card1-padding">
                    <ion-label><ion-text color="black"><h2>{{promotion.name}}</h2></ion-text></ion-label>
                    <ion-label><h3>{{promotion.short_description}}</h3></ion-label>
                    <div class="margin-top-5">
                           <ion-icon  style="font-size: 16px !important;" color="warning" *ngFor="let i of [0,1,2,3,4]" [name]="i < promotion.rating  ? 'star' : 'star-outline'"></ion-icon>
                            <ion-text color="black"> <h2><strong>{{promotion.price | currency}}</strong></h2></ion-text>
                    </div>
                </ion-card-content>

            <!-- <div class="food_title1">{{promotion.name}}</div>
            <div><p style="margin-top: 3px;">{{promotion.short_description}}</p></div>
            <div style="margin-top: -10px;">
                <ion-item lines="none">
                    <ion-label  text-wrap>
                        <h1 class="travel_header1 detail-name">${{promotion.price}}</h1>
                    </ion-label>
                    <div slot="end">
                        <ion-icon  style="font-size: 18px !important;" color="warning" *ngFor="let i of [0,1,2,3,4]" [name]="i < promotion.rating  ? 'star' : 'star-outline'"></ion-icon>
                    </div>
                </ion-item>  
            </div> -->
        </ion-card>
</div>




</ion-content>
