

<ion-header>
    <ion-toolbar class="first" color="primary" [class.show-background]="showToolbar">
        <ion-buttons color="orange" slot="start" [class.show-background]="showColor">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <!-- <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
              </ion-buttons> -->
        <ion-title  [class.show-title]="showTitle">Detail</ion-title>

    </ion-toolbar>



</ion-header>


<ion-content  no-padding fullscreen (ionScroll)="onScroll($event)" [scrollEvents]="true" [class.transition]="transition">
  

<!--*********** Image header  ***********-->
<div class="detail-header" [ngStyle]="{'background-image': 'url(' + itemArray.image + ')'}">
        <!-- <h2 class="detail-name "> {{(item | async)?.name}}</h2>
        <div class="detail-price ">{{(item | async)?.phone}}</div> -->
        <div class="bookmarkRibbon"></div>
        <div class="detail-title">

        </div>
</div>

<!--*********** Title  ***********-->
    <div class="margin-top-10">
            <ion-item lines="none">
                <ion-label  text-wrap>
                    <h1 class="food_header1 detail-name">{{itemArray.name}}</h1>
                    <h2 class="food_header3 detail-price "> {{itemArray.short_description}}</h2>
                </ion-label>
                <div slot="end">
                    <ion-icon  style="font-size: 18px !important;" color="orange" *ngFor="let i of [0,1,2,3,4]" [name]="i < itemArray.rating  ? 'star' : 'star-outline'"></ion-icon>
                </div>
            </ion-item>  
    </div>



    
<!--*********** Description ***********-->
    <div class="ion-padding">
        <p class="margin-bottom-3">
            {{itemArray.description}}
        </p>
    </div>

<!--*********** Addon option  ***********-->
<div *ngIf="itemArray.attribute2_visible">
   <ion-item class="margin-top-0" lines="none">
        <h1 class="margin-top-3 main-b-header6">{{itemArray.attribute2_name}}</h1>
    </ion-item>
     <!-- <ion-list>
        <ion-item *ngFor="let size of (item | async)?.attribute1_value" lines="none">
            <h1 class="food_header2">{{item}}</h1>
        </ion-item>
    </ion-list> -->
    <!-- <button (click)="getAddOnValue()">Test get Value</button> -->
    <div class="ion-padding">
        <ion-list class="ion-margin-left margin-bottom-10">
            <ion-item lines="none" *ngFor="let addon of itemArray.attribute2_value" >
                <ion-checkbox  slot="start" mode="ios" color="realgreen" [(ngModel)]="addon.isChecked"></ion-checkbox>
                <ion-label slot="start" class="ion-padding-left">{{addon.name}}</ion-label>
                <ion-badge color="light" slot="end">free</ion-badge>
            </ion-item>
        </ion-list>
    </div>
</div>


<!--*********** Size option  ***********-->

<!-- show if attribute1_value = true-->
<!-- {{(item | async)?.attribute1_visible}} -->
<div *ngIf="itemArray.attribute1_visible">
        <ion-item  class="margin-top-0" lines="none">
           <h1 class="margin-top-0 main-b-header6">{{itemArray.attribute1_name}}</h1>
       </ion-item>

       <div class="ion-padding">
               <ion-item lines="none">
                       <ion-label>Select size:</ion-label>
                       <ion-select  mode="ios" [(ngModel)]="selectSize" placeholder="Select One" slot="end">
                               <ion-select-option *ngFor="let size of itemArray.attribute1_value" [value]="size">{{size}}</ion-select-option>
                             </ion-select>
                     </ion-item>

       </div>
   </div>

<div class="footer-box"></div>
</ion-content>
<ion-footer >
    <ion-toolbar>
        <ion-row>
            <ion-col size="5" class="padding-left-15">
                <ion-text color="dark">
                    <h1 class="main-header8 margin-top-3 margin-bottom-0">price</h1>
                </ion-text>
                <ion-text color="realgreen">
                    <h1 class="main-b-header5 margin-top-0">{{itemArray.price | currency:'USD':'symbol' }}</h1>
                </ion-text>
            </ion-col>
            <ion-col size="7">
                    <ion-button color="realgreen" expand="full" (click)="addToCart()">Add to Cart</ion-button>
            </ion-col>
        </ion-row>

    </ion-toolbar>
</ion-footer>
    