<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button (click)="toggleSideMenu()">
                <ion-icon class="menu-icon"  name="md-menu" color="light" slot="start"></ion-icon>
            </ion-button>
        </ion-buttons>
      <ion-title slot="start">FEED</ion-title>
    </ion-toolbar>
</ion-header>

  <ion-content #content>

<ion-content fullscreen=""  no-paddding >
  <ion-card mode="ios"  *ngFor="let feed of feeds  | async">
        <ion-item lines="none">
          <ion-avatar slot="start">
              <img [src]="feed.imgProfile">
          </ion-avatar>
          <ion-label>
            <h3>{{feed.name}}</h3>
            <p>November 5, 1955</p>
          </ion-label>
        </ion-item>
        <ion-slides pager>
            <ng-container *ngFor="let images of  feed.images | slice:1">
          <ion-slide  [ngStyle]="{'background' : 'url(' + images.url + ')'}">
          </ion-slide>
            </ng-container>
        </ion-slides>
      
    <ion-card-content>
      <ion-card-title>
        <h3 class="main_header4">  {{feed.title}}</h3>
      </ion-card-title>
      <p>
        {{feed.description}}
      </p>
    </ion-card-content>
    
    <ion-row>
        <ion-col>
          <ion-button fill="clear" size="small" color="dark">
            <ion-icon slot="start" name="ios-chatboxes" color="gray"></ion-icon>
            {{feed.comment}}
          </ion-button>
          <ion-button fill="clear" size="small" color="dark">
              <ion-icon slot="start" name="ios-heart" color="gray"></ion-icon>
              {{feed.like}}
          </ion-button>
        </ion-col>
   
        <ion-col center class="ion-text-right"> 
            <ion-button fill="clear" size="small" color="dark">
                REPLY
            </ion-button>
        </ion-col>
    </ion-row>

  </ion-card>
<!-- 
  <ion-fab right bottom>
      <button ion-fab color="amber"><ion-icon name="md-share"></ion-icon></button>
      <ion-fab-list side="top">
        <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
      </ion-fab-list>
  </ion-fab> -->
 
</ion-content>