<ion-header>
    <ion-toolbar mode="ios"> 
        <ion-buttons slot="start" >
            <ion-back-button class="ion-margin-left ion-padding-left" color="orange"  ></ion-back-button>
        </ion-buttons>
        <ion-title  class="main-header4">Places</ion-title>
        <ion-buttons slot="end">
            <ion-button  (click)="openMap(categoryId)">
              <ion-icon color="orange" slot="icon-only" name="ios-pin-outline" ></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content  no-padding>

<!-- Skeleton screen -->
<div *ngIf="!places">
    <ion-list class="ion-padding">
      <ion-list-header>
        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      </ion-list-header>
      <ion-item *ngFor="let i of [0,1,2,3,4,5]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>  

<div *ngIf="places">
    <ion-list class="ion-margin-top ion-padding-top">
        <ion-item *ngFor="let place of places" lines="none" button routerLink="/travel-place-detail/{{place.id}}"  >
            <ion-thumbnail slot="start">
                <ion-img [src]="place.image_header"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{place.name}}</h2>
              <p>{{place.description}}</p>
              <ion-icon style="font-size: 14px !important;" color="warning" *ngFor="let i of [0,1,2,3,4]" [name]="i < place.rating ? 'star' : 'star-outline'">
              </ion-icon>
            </ion-label>
        </ion-item>
      </ion-list>
</div>

</ion-content>
