
<ion-header  [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
    <ion-toolbar color="green">
        <ion-buttons slot="start">
            <ion-button (click)="toggleSideMenu()">
                <ion-icon class="menu-icon"  name="md-menu" color="light" slot="start"></ion-icon>
            </ion-button>
        </ion-buttons>
        <!-- <ion-searchbar color="" placeholder="Search.." (ionFocus)="openSearchModal()" search-icon="ios-pin" ></ion-searchbar>   -->
        <ion-title color="light" class="main-header6">O|G</ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="/shopping-cart" >
                <ion-badge color="danger" *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
                <ion-icon color="light" slot="icon-only" name="ios-cart"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="green">
       <ion-searchbar mode="ios" color="" placeholder="Search.." (ionFocus)="openSearchModal()" search-icon="search" ></ion-searchbar>  
    </ion-toolbar>
</ion-header>




<ion-content #pageContent no-padding>

    <!--*********** Banner  ***********-->
    <ion-slides pager="true" [options]="slideOptsOne" >
        <ion-slide *ngFor="let banner of banners | async">
            <img class="image-slide" [src]="banner.image">
        </ion-slide>
    </ion-slides>


    <!--*********** Category  ***********-->
    <ion-item lines="none">
        <h1 class="main-header5">Category</h1>
    </ion-item>
    <div class="top-horizontal-scroll  slide-left  ">
        <ion-card tappable class="shop-main-h-card shop-card-s-wide " *ngFor="let category of categories | async" (click)="openDetail('side-menu/shopping/tabs/tab1/shopping-item',category.id)"  >
            <div class="card-s-wide-bg ion-text-uppercase" [ngStyle]="{'background-image': 'url(' + category.image+ ')'}">
                <h2 class="card-s-wide-title"> {{category.name}}</h2>                           
            </div>
        </ion-card>
    </div>

    
    <!--*********** Promotion  ***********-->
    <ion-item lines="none">
        <h1 class="main-header5">Promotion items</h1>
    </ion-item>
    <div class="horizontal-scroll" >
        <ion-card class="shop-main-h-card shop-card-tall slide-right  "  *ngFor="let promotion of promotions | async"  (click)="openDetail('shopping-detail',promotion.id)"   >
            <div *ngIf="promotion.discount"  class="ribbon">SALE</div>
            <div class="shop-div-tall-bg"  [ngStyle]="{'background-image': 'url(' + promotion.image+ ')'}"> </div>
            <!-- <div class="ion-margin-top" text-wrap>{{promotion.name}}</div>
            <ion-icon  style="font-size: 14px !important;" color="warning" *ngFor="let i of [0,1,2,3,4]" [name]="i < promotion.rating  ? 'star' : 'star-outline'"></ion-icon>
            <div class="main-b-header7" color="green">${{promotion.price}}</div> -->
            <div class="ion-margin-top main-header8" text-wrap>{{promotion.name}}</div>
            <ion-icon  style="font-size: 12px !important;" color="warning" *ngFor="let i of [0,1,2,3,4]" [name]="i < promotion.rating  ? 'star' : 'star-outline'"></ion-icon>
            <div *ngIf="!promotion.discount" class="main-b-header9" >
                <ion-text color="grey">{{promotion.price | currency}}</ion-text>
            </div>
            <div *ngIf="promotion.discount" class="main-b-header9 " >
                <ion-text color="grey">{{promotion.discount_price | currency}}&nbsp;&nbsp;</ion-text>
                <ion-text color="lightgrey" class="discount">{{promotion.price | currency}}</ion-text>
            </div>
        </ion-card>
    </div>


    <!--*********** Group by brand  ***********-->

    <ion-item lines="none">
        <h1 class="main-header5">Top Brands</h1>
    </ion-item>
    <div class="top-horizontal-scroll  slide-left ">
        <ion-card tappable class="shop-main-h-card shop-card-s-wide "  *ngFor="let group of groups | async " (click)="openDetail('side-menu/shopping/tabs/tab1/shopping-group',group.id)"  >
            <div class="card-s-wide-bg ion-text-uppercase" [ngStyle]="{'background-image': 'url(' + group.image+ ')'}">
                <!-- <h2 class="card-s-wide-title"> {{group.name}}</h2>  -->
            </div>
        </ion-card>
    </div>
    <!--*********** Recommened ***********-->
    <ion-item lines="none">
        <h1 class="main-header5">Recommended item</h1>
    </ion-item>
    <div class="horizontal-scroll " >

        <ion-card class="shop-main-h-card shop-card-tall   slide-right  "  *ngFor="let recommended of recommended | async"  (click)="openDetail('shopping-detail',recommended.id)"  >
            <div *ngIf="recommended.discount"  class="ribbon">SALE</div>
            <div class="shop-div-tall-bg"  [ngStyle]="{'background-image': 'url(' + recommended.image+ ')'}"> </div>
            <!--<div class="ion-margin-top">{{recommended.name}}</div>
            <ion-icon  style="font-size: 14px !important;" color="warning" *ngFor="let i of [0,1,2,3,4]" [name]="i < recommended.rating  ? 'star' : 'star-outline'"></ion-icon>
            <div class="main-b-header7" color="green">${{recommended.price}}</div> -->
            <div class="ion-margin-top main-header8" text-wrap>{{recommended.name}}</div>
            <ion-icon  style="font-size: 12px !important;" color="warning" *ngFor="let i of [0,1,2,3,4]" [name]="i < recommended.rating  ? 'star' : 'star-outline'"></ion-icon>
            <div *ngIf="!recommended.discount" class="main-b-header9" ><ion-text color="grey">{{recommended.price | currency}}</ion-text></div>
            <div *ngIf="recommended.discount" class="main-b-header9 " >
                <ion-text color="grey">{{recommended.discount_price | currency}}&nbsp;&nbsp;</ion-text>
                <ion-text color="lightgrey" class="discount">{{recommended.price | currency}}</ion-text>
            </div>
            <div class="margin-bottom-10"></div>
        </ion-card>
    </div>

    <div class="footer-box"></div>
</ion-content>


