
/* Transparent standard */
ion-toolbar.first {
    --background: transparent;
    --ion-color-base: transparent !important;
}

.top-grey-box{
    width: 100%;
    height: 250px;
    background-color:#eb3573;
}