
<!-- 
<ion-header>
    <ion-toolbar  [class.show-background]="showToolbar">
        <ion-buttons  slot="start" color="light"  [class.show-background]="showColor">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title class="main-header7">list</ion-title>



        <ion-buttons *ngIf="userAuth" slot="end">
            <ion-button (click)="toggleHeart()">
                <ion-icon slot="icon-only"  [name]="heartType"></ion-icon>
            </ion-button>
        </ion-buttons> 

    </ion-toolbar>




</ion-header> -->


<ion-header>
        <ion-toolbar class="first"  [class.show-background]="showToolbar">
        
            <ion-buttons   [class.show-background]="showColor">
                <ion-back-button  color="white"> </ion-back-button>
            </ion-buttons>
            <!-- <ion-buttons slot="start">
                    <ion-back-button defaultHref="home"></ion-back-button>
                  </ion-buttons> -->
            <ion-title  color="light"  [class.show-title]="showTitle">Detail</ion-title>
    
            <ion-buttons *ngIf="userAuth" slot="end">
                    <ion-button color="light" (click)="toggleHeart()">
                        <ion-icon slot="icon-only"  [name]="heartType"></ion-icon>
                    </ion-button>
                </ion-buttons> 
    
        </ion-toolbar>
    
    
    
    </ion-header>
<!-- https://medium.com/@paulstelzer/ionic-4-how-to-make-a-transparent-header-toolbar-38405f2e4a74 -->

<!-- Transperent header with hide show background -->

<ion-content no-padding fullscreen (ionScroll)="onScroll($event)" [scrollEvents]="true" [class.transition]="transition">
  

 
<!--*********** Image header  ***********--> 
<div *ngIf="(itemDetail | async)?.recommended"  class="ribbon pop-in">Best</div>
<div class="detail-header" [ngStyle]="{'background-image': 'url(' + (itemDetail | async)?.image_header + ')'}">
        <!-- <h2 class="detail-name "> {{(item | async)?.name}}</h2>
        <div class="detail-price ">{{(item | async)?.phone}}</div> -->
        <div class="detail-title">
        </div>
</div>





<!--*********** Title  ***********-->
    <div class="">
            <ion-item lines="none">
                <ion-label  text-wrap>
                    <h1 class="main-b-header4 detail-name margin-top-10">{{(itemDetail | async)?.title}}</h1>
                    <h2 class="main-header7 detail-price "> {{(itemDetail | async)?.short_features}}</h2>
                </ion-label>
                <div slot="end">
                        <ion-text color="green">
                            <h1 class="main-b-header6">${{(itemDetail | async)?.price}}</h1>
                        </ion-text>
                </div>
            </ion-item> 

    </div>


  
<!--*********** Location ***********-->
<!-- <ion-item lines="none">
       
    </ion-item> -->
    <!-- <div class="">
        <p class="main-header7">
            {{(itemDetail | async)?.location}}
        </p>
    </div> -->


<!--*********** Description ***********-->
<ion-item lines="none">
    <h1 class="main-header5 margin-top-5 margin-bottom-0">Description</h1>
</ion-item>
    <div class="padding-left-15 padding-right-15">
        <p class="margin-top-0">
            {{(itemDetail | async)?.description}}
        </p>
    </div>
<!--*********** loaction ***********-->

<ion-item lines="none">
        <h1 class="main-header5 ">Location</h1>
    </ion-item>
    <h1 class="margin-all-15 margin-top-3 main-header7">        
            <ion-icon  name="ios-pin" color="grey" size="small"></ion-icon>Address: {{(itemDetail | async)?.location}}
    </h1> 
<!--*********** Contact ***********-->
    <ion-item lines="none">
        <h1 class="main-header5">Contact agent</h1>
    </ion-item>
    <ion-item lines="none" style="padding:0px !important;"  href="#" routerLink="/side-menu/realestate/tabs/tab4/real-agent-detail/{{(itemDetail | async)?.agentId}}">
        <ion-avatar slot="start">
            <img [src]="(agentDetail | async)?.image">
        </ion-avatar>
        <ion-label>
            <!-- <h3 class="main-header6">{{(itemDetail | async)?.agentId}}</h3> -->
            <h3 class="main-header6">{{(agentDetail | async)?.name}}</h3>
            <h3 class="main-header6">{{(agentDetail | async)?.position}}</h3>
            <ion-icon  style="font-size: 16px !important;" color="warning" *ngFor="let i of [0,1,2,3,4]" [name]="i < (agentDetail | async)?.rating  ? 'star' : 'star-outline'"></ion-icon>
            <!-- <p class="main-b-header9"  (click)="logout()">LOGOUT</p> -->
        </ion-label>
    
    </ion-item>


<!--*********** Features ***********-->

    <ion-item lines="none">
        <h1 class="main-header5">Features</h1>
    </ion-item>
        <div class="margin-all-15">
                <!-- <ul>
                  <li *ngFor="let feature of (itemDetail | async)?.features">
                      {{feature.title}}:{{feature.value}}
                  </li>
                </ul> -->
                <ion-grid style="margin-left: 30px;"s>
                    <ion-row wrap>
                      <ion-col tappable  size="6"  *ngFor="let feature of (itemDetail | async)?.features" >
                         <ion-text color="dark"><h1 class="margin-top-3 main-b-header9">{{feature.title}}</h1></ion-text> 
                         <ion-text color="dark"><h1 class="margin-top-3 main-header7">{{feature.value}}</h1></ion-text>  
                      </ion-col>
                    </ion-row>
          
                </ion-grid>
        </div>
  
         




    <!--*********** Map  ***********-->
    
    <!--*********** Replace your google map API key  ***********-->     
    <img tappable class="team"  src="https://maps.googleapis.com/maps/api/staticmap?center={{(itemDetail | async)?.lat}},{{(itemDetail | async)?.lng}}&zoom=15&scale=2&size=300x200&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0x0088f2%7Clabel:%7C{{(itemDetail | async)?.lat}},{{(itemDetail | async)?.lng}}&key=AIzaSyBnF4f6Yhm2ZyNErzov2AUXYw750Irqmtw"  />

    <!-- <img src="https://maps.googleapis.com/maps/api/staticmap?center={{(item | async)?.lat}},{{(item | async)?.lng}}&zoom=15&scale=2&size=300x150&maptype=roadmap&format=png&visual_refresh=true&markers=color:0xff0000%7Clabel:%7C{{(item | async)?.lat}},{{(item | async)?.lng}}&key=AIzaSyCk9dyMmpKiqGrNmC89n8Voy_Xd7OveiMo"/> -->

    <!-- <img src="https://maps.googleapis.com/maps/api/staticmap?center={{(item | async)?.lat}},{{(item | async)?.lng}}&zoom=15&scale=2&size=300x150&maptype=roadmap&format=png&visual_refresh=true&markers=color:0xff0000%7Clabel:%7C{{(item | async)?.lat}},{{(item | async)?.lng}}&key=YOUR_API_KEY"/> -->

<!--*********** Contact  ***********-->
    <!-- <div class="ion-margin-top">
            <ion-item lines="none" class="">
                    <h1 class="travel_header2">Contact</h1>
            </ion-item>
    </div> -->

    <!-- <div  class="ion-margin-top ion-margin-bottom">
            <ion-item  lines="none" *ngFor="let feature of (itemDetail | async)?.features">
                    <ion-icon name="" slot="start" color=""></ion-icon>
                    <ion-label>
                        <ion-text color="medium">
                                <h2 >{{feature.title}} : {{feature.value}}</h2>
                        </ion-text>
                        
                        

                    </ion-label>
                </ion-item>
    </div> -->
<!--*********** Image gallery ***********-->

<!-- <div class="ion-margin-top">
        <ion-item lines="none" class="">
                <h1 class="travel_header2">Image gallery</h1>
        </ion-item>
</div> -->




    <!--*********** Images gallery  ***********-->
<!-- 
    <div class="travel_space1">
        <ion-item lines="none" class="">
                <h4>Gallery</h4>               
        </ion-item>
    </div> 

    <div class="horizontal-scroll ion-margin-top ion-margin-bottom">
            <div class="img-gallery margin" *ngFor="let image of itemArray.images ,let i = index" >
                 <img [src]="image"   (click)="openImageViewer(i)"/>sdsdff
            </div>
    </div>  -->

    <!--*********** Agent detail ***********-->
    <!-- <div class="main_header5">
        <ion-item lines="none" class="">
                <h4>Agent</h4>               
        </ion-item>
    </div>  -->
   
</ion-content>

<ion-footer color="light">
  <ion-grid>
      <ion-row>
        <ion-col>
            <ion-button  expand="block"  color="orange" (click)="contactAction('Calling......')">CALL</ion-button>
        </ion-col>
        <ion-col>
            <ion-button  expand="block"  color="orange" (click)="contactAction('Opening email...')">E-MAIL</ion-button>
          </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>
    