ion-card{

    border-radius: 9px  !important;
    //-webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0)  !important;
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1) !important;
    
    //box-shadow: 0 4px 16px rgba(0,0,0,0) !important;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1)  !important;
}