<ion-app>
  <!-- <ion-split-pane> -->
    <ion-menu contentId="content">

      <ion-content>

        
        <div class="profile-container">
          <ion-menu-toggle>
          <div class="avatar-wrapper" routerLink="/shopping-profile">
            <ion-avatar>
              <img [src]="avatar">
            </ion-avatar>
          </div>
          <div class="brief-info" routerLink="/shopping-profile">
            <ion-label>Tai JinYuan</ion-label>
          </div>
          </ion-menu-toggle>
        </div>

        <div *ngFor="let p of pages" class="ion-padding-right">
   
          <!-- Standard Menu Item -->
          <ion-menu-toggle *ngIf="p.url">
            <ion-item tappable [routerLink]="p.url" routerLinkActive="active" lines="none" detail="false">
              <ion-icon [name]="p.icon" slot="start"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </div>
  
      </ion-content>
   
    </ion-menu>
   
    <ion-router-outlet id="content" main></ion-router-outlet>
   
  <!-- </ion-split-pane> -->
</ion-app>
