

<ion-header>
    <ion-toolbar class="first" color="primary" [class.show-background]="showToolbar">
        <ion-buttons color="orange" slot="start" [class.show-background]="showColor">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <!-- <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
              </ion-buttons> -->
        <ion-title  style="opacity: 0;" [class.show-title]="showTitle">Detail</ion-title>
        <!-- <ion-title  class="main-header4 hide-title" >Detail</ion-title> -->

      <!-- A favorite button will not show if user not login. -->
        <ion-buttons *ngIf="userAuth" slot="end">
            <ion-button (click)="toggleHeart()">
                <ion-icon slot="icon-only"  [name]="heartType"></ion-icon>
            </ion-button>
        </ion-buttons> 

    </ion-toolbar>


</ion-header>


<ion-content  no-padding fullscreen (ionScroll)="onScroll($event)" [scrollEvents]="true" [class.transition]="transition">
  

<!--*********** Image header  ***********-->
<div class="detail-header" [ngStyle]="{'background-image': 'url(' + (place | async)?.image_header + ')'}">
        <!-- <h2 class="detail-name "> {{(item | async)?.name}}</h2>
        <div class="detail-price ">{{(item | async)?.phone}}</div> -->
        <div class="detail-title">

        </div>
</div>





<!--*********** Title  ***********-->
    <div class="travel_space1">
            <ion-item lines="none">
                <ion-label  text-wrap>
                    <h1 class="travel_header1 detail-name">{{(place | async)?.name}}</h1>
                    <h2 class="travel_header3 detail-price "> {{(place | async)?.short_description}}</h2>
                </ion-label>
                <div slot="end">
                    <ion-icon  style="font-size: 18px !important;" color="orange" *ngFor="let i of [0,1,2,3,4]" [name]="i < (place | async)?.rating  ? 'star' : 'star-outline'"></ion-icon>
                </div>
            </ion-item>  
    </div>



    <div class="horizontal-scroll ion-margin-bottom">
        <ion-chip  *ngFor="let tag of (place | async)?.tag" outline=true color="dark"  >
                <div><ion-label>{{tag.name}}</ion-label></div>
        </ion-chip>
    </div>
    <!-- <ion-chip  *ngFor="let tag of tags " color="orange-invert" outline=true button routerLink="/side-menu/travel/tabs/tab1/travel-tag/{{tag.id}}">
        <ion-label>{{tag.name}}</ion-label>
</ion-chip> -->
<!--*********** Description ***********-->
    <div class="travel_space4">
        <p>
            {{(place | async)?.description}}
        </p>
    </div>
    <!--*********** Image gallery ***********-->
    <div class="horizontal-scroll ion-margin-top ion-margin-bottom">
            <div class="img-gallery margin" *ngFor="let image of (place | async)?.images ,let i = index" >
                 <img [src]="image"   (click)="openImageViewer(i)"/>
            </div>
    </div>   


<!--*********** Contact  ***********-->


    <div  class="ion-margin-top ion-margin-bottom">

            <ion-item  lines="none">
                    <ion-icon name="ios-pin-outline" slot="start" color=""></ion-icon>
                    <ion-label>
                        <ion-text color="dark">
                                <h2 class="main-header8">Address</h2>
                        </ion-text>
                        
                        <h2 color="">{{(place | async)?.contact_info.address}}</h2>

                    </ion-label>
                </ion-item>

                <ion-item  lines="none">
                    <ion-icon name="ios-mail-outline" slot="start" color=""></ion-icon>
                    <ion-label>
                            <ion-text color="dark">
                                    <h2 class="main-header8">Email</h2>
                            </ion-text>
                      
                        <h2>{{(place | async)?.contact_info.email}}</h2>
                    </ion-label>
                </ion-item>
                <ion-item  lines="none">
                        <ion-icon name="ios-call-outline" slot="start" color=""></ion-icon>
                        <ion-label>
     
                            <ion-text color="dark">
                                    <h2 class="main-header8">Phone number</h2>
                            </ion-text>
                            <h2 color="medium">{{(place | async)?.contact_info.phone}}</h2>
                        </ion-label>
                    </ion-item>
                <ion-item  lines="none" >
                    <ion-icon name="ios-globe-outline" slot="start" color=""></ion-icon>
                    <ion-label>
                            <ion-text color="dark">
                                    <h2 class="main-header8">Website</h2>
                            </ion-text>
                       
                        <h2>{{(place | async)?.contact_info.website}}</h2>
                    </ion-label>
                </ion-item>
            
                <!-- <ion-item  lines="none" >
                    <ion-icon name="ios-clock-outline" slot="start" color=""></ion-icon>
                    <ion-label>
                            <h2 color="medium">Opening time</h2>
                        <p  [innerHTML]>{{(place | async)?.contact_info.opening}}</p>
                    </ion-label>
                </ion-item> -->
                <ion-item lines="none">
                    <ion-icon slot="start" name="ios-clock-outline" item-left></ion-icon>
                    <ion-label>
                            <ion-text color="dark">
                                    <h2 class="main-header8">Opening time</h2>
                            </ion-text>
                        <div class="opening-time">
                            <div [innerHTML]="(place | async)?.contact_info.opening" ></div>
                        </div>    
                       
                    </ion-label>
                </ion-item>
    </div>
    <!--*********** Map  ***********-->


              <!--*********** Replace your google map API key  ***********-->     
    <div  *ngIf="(place | async) as categoryId"(click)="openMap(categoryId.travel_categoryId)" ></div>
            <img tappable class="team"  src="https://maps.googleapis.com/maps/api/staticmap?center={{(place | async)?.lat}},{{(place | async)?.lng}}&zoom=15&scale=2&size=300x200&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0x0088f2%7Clabel:%7C{{(place | async)?.lat}},{{(place | async)?.lng}}&key=AIzaSyBnF4f6Yhm2ZyNErzov2AUXYw750Irqmtw"  />
    
              <!-- <img src="https://maps.googleapis.com/maps/api/staticmap?center={{(item | async)?.lat}},{{(item | async)?.lng}}&zoom=15&scale=2&size=300x150&maptype=roadmap&format=png&visual_refresh=true&markers=color:0xff0000%7Clabel:%7C{{(item | async)?.lat}},{{(item | async)?.lng}}&key=AIzaSyCk9dyMmpKiqGrNmC89n8Voy_Xd7OveiMo"/> -->
      
              <!-- <img src="https://maps.googleapis.com/maps/api/staticmap?center={{(item | async)?.lat}},{{(item | async)?.lng}}&zoom=15&scale=2&size=300x150&maptype=roadmap&format=png&visual_refresh=true&markers=color:0xff0000%7Clabel:%7C{{(item | async)?.lat}},{{(item | async)?.lng}}&key=YOUR_API_KEY"/> -->
    
       
<!--*********** Image gallery ***********-->

<!-- <div class="ion-margin-top">
        <ion-item lines="none" class="">
                <h1 class="travel_header2">Image gallery</h1>
        </ion-item>
</div> -->
<!-- <ion-grid>
        <ion-row wrap color="medium">
          <ion-col size="3"  *ngFor="let image of (place | async)?.images ,let i = index" >
         
                <div >
                    <img [src]="image"   (click)="openImageViewer(i)"/>
                </div>
          </ion-col>
        </ion-row>
  </ion-grid> -->



    <!--*********** Review  ***********-->
    <div class="ion-margin-top">
            <ion-item lines="none"   class="">
                    <h1 class="travel_header2">Review</h1>
                <ion-button fill="none" slot="end" color="secondary" [routerLink]="['/travel-place-review', placeId]" >View all</ion-button>
            </ion-item>
    </div>


    <ion-card class="" *ngFor="let review of reviews | async" >
        <ion-item  lines="none" detail="false">
            <ion-avatar slot="start" class="avatar-top">
                <ion-img [src]="review.userProfileImage"></ion-img>
            </ion-avatar>
            <ion-label >
                <h2>{{review.name}}</h2>
                <p> {{review.createdTime.toDate() | date: 'dd/MM/yyyy'}}</p>
            </ion-label>
            <ion-label text-right slot="end" >            
                <ion-icon  style="margin-right:2px; font-size: 14px !important;" color="warning" *ngFor="let i of [0,1,2,3,4]" [name]="i < review.rating ?  'star' : 'star-outline'"></ion-icon>
            </ion-label>
            
        </ion-item>
        
        <ion-card-content>
            {{review.comment}}
        </ion-card-content>
    </ion-card>

    
    <div class="ion-margin">
        <ion-button expand="block"  color="orange"  class="team" (click)="openAddReview()">Write a review</ion-button>
    </div>
    <div style="height: 85px;"></div>




    <!--*********** Related places ***********-->
    <!-- <div class="ion-margin-top">
            <ion-item lines="none"   class="ion-margin-bottom">
                    <h1 class="travel_header2">Related places</h1>
              
            </ion-item>
    </div>

    <div class="horizontal-scroll ion-margin-bottom" >
           
        <ion-card class="card-square " *ngFor="let place of relatedPlacesArray "  button  (click)="openPlaceDetail(place.id)">
            <div class="card-square-bg" [ngStyle]="{'background-image': 'url(' + place.image_header+ ')'}">
                <h2 class="card-square-title">  {{place.name}}</h2>                             
            </div>
        </ion-card>
    </div> -->
 <!-- routerLink="/side-menu/travel/tabs/tab1/travel-place-detail/{{place.id}}" -->
    <!-- <ion-list>
        <ion-item *ngFor="let place of places" lines="none" button [routerLink]="['/travel-place-detail', place.id]"  >
            <ion-thumbnail slot="start">
                <ion-img [src]="place.image_header"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{place.name}}</h2>
              <p>{{place.description}}</p>
              <ion-icon style="font-size: 14px !important;" color="warning" *ngFor="let i of [0,1,2,3,4]" [name]="i < place.star_rating ? 'star' : 'star-outline'">
              </ion-icon>
            </ion-label>
        </ion-item>
      </ion-list> -->



</ion-content>

    