ion-content{
    --background: #f6f6f6
}
ion-icon {
    color: #454545;
    font-size: 30px;
}
ion-badge.status{
    height: 30px !important;
}
ion-item{
    //--background :#F9F9F9;
}
ion-searchbar ion-icon{
    font-size: 20px !important;
} 
.transparent{
    --background: rgba(0,0,0,0);
    --border-color: rgba(0,0,0,0);
}
ion-row{
    ion-card{
        width:100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    img{
        width:100%;
    }
}
}
ion-col{
    padding: 0px !important;
}
.card1-padding{
    padding: 12px 10px !important;
    //margin: 0px !important;
}
