<ion-header  no-border>
    <ion-toolbar class="bar-header" mode="ios"> 
        <ion-buttons slot="start" color="orange">
            <ion-back-button color="orange"></ion-back-button>
        </ion-buttons>
        <ion-title  class="main-header4">Recommanded</ion-title>
    </ion-toolbar>
    <!-- <ion-item lines="none">
        <ion-label>
          <h1 class="travel_header1">Recommanded</h1>
        </ion-label>
      </ion-item>     -->
  </ion-header>
  
<ion-content  no-padding>
  <ion-list class="ion-margin-top">
     
      <ion-item   *ngFor=" let place of recommended | async" lines="none" button routerLink="/travel-place-detail/{{place.id}}"  >
        <ion-thumbnail slot="start">
            <ion-img [src]="place.image_header"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>{{place.name}}</h2>
          <p>{{place.description}}</p>
          <ion-icon style="font-size: 14px !important;" color="warning" *ngFor="let i of [0,1,2,3,4]" [name]="i < place.rating ? 'star' : 'star-outline'"></ion-icon>

        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
