<ion-header no-border>
        <ion-toolbar color="">
            <ion-buttons slot="start">
                <ion-button (click)="toggleSideMenu()">
                    <ion-icon class="menu-icon"  name="md-menu" color="greengrab" slot="start"></ion-icon>
                </ion-button>
            </ion-buttons>
    
        </ion-toolbar>
    </ion-header>
<ion-content>
    <ion-item lines="none">
        <ion-label>
            <ion-text color="greengrab">
                <h1 class="main-header1">Profile</h1>
            </ion-text>
        </ion-label>
    </ion-item>    

    <div class="profile-form">
        <!-- <h2 text-center>
            <small>update your profile</small>
        </h2> -->

      <form [formGroup]="updateForm" novalidate>
            <ion-text color="dark">
                <h2 text-center class="ion-margin-bottom main-header7">
                    Edit your profile.
                </h2>
            </ion-text>
          <ion-list lines="none">
              <ion-item>
                    <ion-icon slot="start" color="lightgrey" name="ios-person-outline"></ion-icon>
                    <ion-input type="text"  formControlName="firstname" ></ion-input>
              </ion-item>

              <ion-item>
                  <ion-icon slot="start" color="lightgrey" name="ios-people-outline"></ion-icon>
                  <ion-input type="text"  formControlName="lastname"   ></ion-input>
              </ion-item>
     
              <ion-item>
                    <ion-icon slot="start" color="lightgrey" name="ios-mail-outline"></ion-icon>
                    <ion-input type="email"  formControlName="email" ></ion-input>
              </ion-item>

              <ion-item>
                    <ion-icon slot="start" color="lightgrey" name="ios-call-outline"></ion-icon>
                    <ion-input type="number" formControlName="phone"></ion-input>
              </ion-item>


          </ion-list>
      
            <!-- Error meassage -->
            <ion-text color="danger">
                    <p  *ngIf="!updateForm.controls.firstname.valid && updateForm.controls.firstname.touched">
                        <ion-icon name="information-circle-outline"></ion-icon> Firstname field must be at least 3 characters long!
                    </p>
                </ion-text>
                <ion-text color="danger">
                    <p  *ngIf="!updateForm.controls.lastname.valid && updateForm.controls.lastname.touched">
                        <ion-icon name="information-circle-outline"></ion-icon> Lastname field must be at least 3 characters long!
                    </p>    
                </ion-text>
                <ion-text color="danger">
                    <p *ngIf="!updateForm.controls.phone.valid && updateForm.controls.phone.touched">
                        <ion-icon name="information-circle-outline"></ion-icon> Phone field must be at least 6 characters long!
                    </p>
                </ion-text>
                <ion-text color="danger">
                        <p *ngIf="!updateForm.controls.email.valid && updateForm.controls.email.touched">
                            <ion-icon name="information-circle-outline"></ion-icon> Must be email!
                        </p>
                    </ion-text>

                
               <!-- Submit button -->


            <!-- <ion-button mode="ios" color="primary" expand="block" class="ion-margin-top"  (click)="updateProfile()">
              Update profile
            </ion-button>
            <ion-button mode="ios" color="primary" fill="outline" expand="block" class="ion-margin-top"  (click)="logout()">
                Signout
            </ion-button> -->
            <ion-button mode="ios" color="greengrab" expand="block" class="ion-margin-top" [disabled]="!updateForm.valid"   (click)="updateProfile()">
                Update profile
            </ion-button>

            <ion-button mode="ios" color="pink" expand="block" fill="outline" class="ion-margin-top" (click)="logout()">
                Sign out
            </ion-button>
            <ion-button mode="ios" color="bluegrey" expand="block" fill="outline" class="ion-margin-top" routerLink="/side-menu/travel/tabs/tab1" >
                Open first app
            </ion-button>
      </form>
      <ion-text color="dark">
            <h2 text-center class="ion-margin-bottom main-header8">
                By clicking Sign up you agree to the following Terms ans Conditions without reservation
            </h2>
        </ion-text>



    </div>
  
  </ion-content>